@model List<WebApplication1.Context.Product>
@{
    ViewBag.Title = "ProductCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">


       


        <div class="row">

            <main class="col-md-10">


                
                @foreach (var item in Model)
                {
                    <article class="card card-product-list">
                        <div class="row no-gutters">
                            <aside class="col-md-3">
                                <a href="@Url.Action("Detail", "Product", new {Id = item.id})" class="img-wrap">
                                    <span class="badge badge-danger"> NEW </span>
                                    <img src="~/Content/images/items/@item.Avatar">
                                </a>
                            </aside> <!-- col.// -->
                            <div class="col-md-6">
                                <div class="info-main">
                                    <a href="@Url.Action("Detail", "Product", new {Id = item.id})" class="h5 title">@item.Name</a>
                                    <div class="rating-wrap mb-2">
                                       
                                      
                                    </div> <!-- rating-wrap.// -->

                                   

                                    <p>
                                       @item.ShortDes
                                    </p>

                                </div> <!-- info-main.// -->
                            </div> <!-- col.// -->
                            <aside class="col-sm-3">
                                <div class="info-aside">
                                    <div class="price-wrap">
                                        <span class="h5 price">Giá sản phẩm: @item.Price</span>
                                        
                                    </div> <!-- price-wrap.// -->
                                   

                                   
                                   


                                </div> <!-- info-aside.// -->
                            </aside> <!-- col.// -->
                        </div> <!-- row.// -->
                    </article> <!-- card-product .// -->
                }







                <nav class="mb-4" aria-label="Page navigation sample">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>


                


            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
